{% extends "app/layout.html" %}
{% block content %}
        <!--Page Title-->
        <section class="page-title text-center style-two">
            <div class="pattern-layer" style="background-image: url(static/assets/images/shape/shape-62.png);"></div>
            <div class="auto-container">
                <div class="content-box">
                    <h1>{{ title }}</h1>
                </div>
            </div>
        </section>
        <!--End Page Title-->

        <!-- about-style-three -->
        <section class="about-style-three">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                        <div id="image_block_02">
                            <div class="image-box">
                                <figure class="image image-1 wow slideInLeft" data-wow-delay="300ms" data-wow-duration="1500ms"><img src="static/assets/images/resource/illastration-3.png" alt=""></figure>
                                <figure class="image image-2 wow slideInLeft" data-wow-delay="00ms" data-wow-duration="1500ms"><img src="static/assets/images/resource/dashbord-1.jpg" alt=""></figure>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                        <div id="content_block_05">
                            <div class="content-box">
                                <div class="sec-title text-left">
                                    <p>About Company</p>
                                    <h2>Mission is to bring the power of AI to every business</h2>
                                    <div class="decor" style="background-image: url(static/assets/images/icons/decor-1.png);"></div>
                                </div>
                                <div class="text">
                                    <p>To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it who do not know how to pursue pleasure rationally encounter.</p>
                                    <p>Which of us ever undertakes laborious physical exercise, except to obtain advantage from it who do not know how to pursue pleasure.</p>
                                </div>
                                <div class="btn-box"><a href="about.html" class="theme-btn style-six">Read More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about-style-three end -->
{% endblock %}