{% extends "app/layout.html" %}
{% block content %}
        <!--Page Title-->
        <section class="page-title text-center style-two">
            <div class="pattern-layer" style="background-image: url({{ url_for('static', filename='assets/images/shape/shape-62.png') }})"></div>
            <div class="auto-container">
                <div class="content-box">
                    <h1>{{ title }}</h1>
                </div>
            </div>
        </section>
        <!--End Page Title-->


    <!-- about-style-five -->
    <section class="about-style-five bg-color-1">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-6 col-md-6 col-sm-12 content-column mt-40">
                    <div id="content_block_10">
                        <div class="content-box">
                            <div class="sec-title text-left">
                                <p>Haqqımızda</p>
                                <h2>Bizim məqsədimiz olimpiadalara hazırlaşan şagirdlərə dəstək olmaqdır.</h2>
                                <div class="decor" style="background-image: url(static/assets/images/icons/decor-1.png);"></div>
                            </div>
                            <div class="text">
                                <p>Olimpiadalarda uğurlu olmanın 2 əsas sirri disiplinli və düzgün mənbələrdən işləməkdir. Bizim də məqsədimiz riyaziyyat olimpiadalarına hazırlaşan şagirdlərlə faydalı qaynaqlar paylaşmaq və onlara bu yolda dəstək olmaqdır.</p>
                                <p style="margin-top:15px;">Həmçinin olimpiadalarda yeni olan şagirdlərin çətin amma bir o qədər də maraq dolu olan bu yoldan keçən olimpiada qaliblərinin təcrübələrindən faydalana bilməsini təmin etməkdir.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                    <div id="image_block_04">
                        <div class="image-box wow slideInRight" data-wow-delay="00ms" data-wow-duration="1500ms">
                            <figure class="image js-tilt"><img src="static/assets/images/resource/about-2.png" alt=""></figure>
                            <div class="pattern-bg" style="background-image: url(static/assets/images/shape/shape-37.png);"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about-style-five end -->


{% endblock %}