{% extends "app/layout.html" %}
{% block content %}
        <!--Page Title-->
        <section class="page-title text-center style-two">
            <div class="pattern-layer" style="background-image: url(static/assets/images/shape/shape-62.png);"></div>
            <div class="auto-container">
                <div class="content-box">
                    <h1>Sən Də Məqalə Yazıb, Öz Təcrübələrini Bizimlə Paylaş</h1>
                </div>
            </div>
        </section>
        <!--End Page Title-->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                    {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
{% endblock content %}