{% extends "app/layout.html" %}
{% block content %}
        <!--Page Title-->
        <section class="page-title text-center style-two">
            <div class="pattern-layer" style="background-image: url(static/assets/images/shape/shape-62.png);"></div>
            <div class="auto-container">
                <div class="content-box">
                    <h1>{{ title }}</h1>
                </div>
            </div>
        </section>
        <!--End Page Title-->

        <!-- news-section -->
        <section class="news-section style-two style-three">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="container">
                        {% if current_user.is_authenticated %}
                            <button><a href="{{ url_for('new_post')}}">Post Paylaş</a></button>
                        {% endif %}
                    </div>
                    {% for post in posts %}
                        <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                            <div class="news-block-one wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                                <div class="inner-box">
                                    <figure class="image-box">
                                        <img src="static/assets/images/news/news-1.jpg" alt="">
                                        <a href="static/assets/images/news/news-1.jpg" class="lightbox-image" data-fancybox="gallery"><i class="flaticon-zoom"></i></a>
                                    </figure>
                                    <div class="lower-content">
                                        <div class="file-box"><i class="far fa-folder-open"></i><p>Data Engineering</p></div>
                                        <div class="title-box">
                                            <div class="post-date"><p>05</p><span>Jan</span></div>
                                            <h4><a href="blog-details.html">Naxly Named as a Global Leader in Big Data</a></h4>
                                        </div>
                                        <div class="text">
                                            <p>Equal blame belongs too those who fail in their through weakness will shrinking.</p>
                                        </div>
                                        <div class="link"><a href="blog-details.html"><i class="flaticon-next"></i>Read More</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- news-section end -->
{% endblock %}