{% extends "app/layout.html" %}
{% block content %}
        <!--Page Title-->
        <section class="page-title text-center style-two">
            <div class="pattern-layer" style="background-image: url({{ url_for('static', filename='assets/images/shape/shape-62.png') }})"></div>
            <div class="auto-container">
                <div class="content-box">
                    <h1>{{ title }}</h1>
                </div>
            </div>
        </section>
        <!--End Page Title-->

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                    {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <!-- contact-section -->
            <section class="contact-section alternate-2 mt-55">
                <div class="pattern-layer" style="background-image: url({{ url_for('static', filename='assets/images/shape/shape-48.png') }})"></div>
                <div class="auto-container">
                    <div class="row clearfix">
                        <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                            <div id="content_block_09">
                                <div class="content-box">
                                    <form method="POST" action="" novalidate id="contact-form" class="default-form"> 
                                        {{ form.hidden_tag() }}
                                        <div class="form-group">
                                            <label><i class="fa fa-user" style="display: inline;"></i>{{ form.firstname.label(style="display:inline;") }}</label>
                                            {% if form.firstname.errors %}
                                                {{ form.firstname(class="is-invalid") }}
                                                <div class="invalid-feedback">
                                                    {% for error in form.firstname.errors %}
                                                        <span>{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                            {% else %}
                                                {{ form.firstname }}
                                            {% endif %}
                                        </div>
                                        <div class="form-group">
                                            <label><i class="fa fa-user" style="display: inline;"></i>{{ form.lastname.label(style="display:inline;") }}</label>
                                            {% if form.lastname.errors %}
                                                {{ form.email(class="is-invalid") }}
                                                <div class="invalid-feedback">
                                                    {% for error in form.lastname.errors %}
                                                        <span>{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                            {% else %}
                                                {{ form.lastname }}
                                            {% endif %}
                                        </div>
                                        <div class="form-group">
                                            <label><i class="fa fa-envelope" style="display: inline;"></i>{{ form.email.label(style="display:inline;") }}</label>
                                            {% if form.email.errors %}
                                                {{ form.email(class="is-invalid") }}
                                                <div class="invalid-feedback">
                                                    {% for error in form.email.errors %}
                                                        <span>{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                            {% else %}
                                                {{ form.email }}
                                            {% endif %}
                                        </div>
                                        <div class="form-group">
                                            <label><i class="fa fa-lock" style="display: inline;"></i>{{ form.password.label(style="display: inline;") }}</label>
                                            {% if form.password.errors %}
                                                {{ form.password(class="is-invalid input-style") }}
                                                <div class="invalid-feedback">
                                                    {% for error in form.password.errors %}
                                                        <span>{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                            {% else %}
                                                {{ form.password(class="input-style") }}
                                            {% endif %}
                                        </div>
                                        <div class="form-group">
                                            <label><i class="fa fa-lock" style="display: inline;"></i>{{ form.confirm_password.label(style="display: inline;") }}</label>
                                            {% if form.confirm_password.errors %}
                                                {{ form.confirm_password(class="is-invalid input-style") }}
                                                <div class="invalid-feedback">
                                                    {% for error in form.confirm_password.errors %}
                                                        <span>{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                            {% else %}
                                                {{ form.confirm_password(class="input-style") }}
                                            {% endif %}
                                        </div>
                                        <div class="form-group">
                                            {{ form.submit(class="theme-btn style-seven") }}
                                        </div>
                                        <div class="border-top pt-3">
                                            <small class="text-muted">
                                                <h6 style="display: inline;">Artıq Bir Hesabınız Var? </h6><a class="ml-2" href="{{ url_for('register') }}"><h6 style="display: inline;">Daxil Ol</h6></a>
                                            </small>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                            <div class="image-box wow slideInRight" data-wow-delay="00ms" data-wow-duration="1500ms">
                                <figure class="image js-tilt"><img src="static/assets/images/resource/illastration-6.png" alt=""></figure>
                            </div>
                        </div>
        
                    </div>
                </div>
            </section>
        <!-- contact-section end -->

        <div class="container content-section">
            <div class="media">
                <img class="rounded-circle account-img" src="{{ image_file }}">
                <div class="media-body">
                    <h2 class="account-heading">{{ current_user.username }}</h2>
                    <p class="text-secondary">{{ current_user.email }}</p>
                </div>
            </div>

            <form method="POST" action="" novalidate enctype ="multipart/form-data">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Hesab Məlumatları</legend>
                    <div class="form-group">
                        {{ form.username.label(class="form-control-label") }}

                        {% if form.username.errors %}
                            {{ form.username(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.username.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.username(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.email.label(class="form-control-label") }}
                        {% if form.email.errors %}
                            {{ form.email(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.picture.label() }}
                        {{ form.picture(class="form-control-file") }}
                        {% if form.picture.errors %}
                            {% for error in form.picture.errors %}
                                <span class="text-danger">{{ error }}</span></br>
                            {% endfor %}
                        {% endif %}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </form>
        </div>
{% endblock content %}
