{% extends "app/layout.html" %}
{% block content %}
        <!--Page Title-->
        <section class="page-title text-center style-two">
            <div class="pattern-layer" style="background-image: url({{ url_for('static', filename='assets/images/shape/shape-62.png') }})"></div>
            <div class="auto-container">
                <div class="content-box">
                    <h1>{{ title }}</h1>
                </div>
            </div>
        </section>
        <!--End Page Title-->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                    {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <!-- contact-section -->
            <section class="contact-section alternate-2 mt-55">
                <div class="pattern-layer" style="background-image: url(static/assets/images/shape/shape-48.png);"></div>
                <div class="auto-container">
                    <div class="row clearfix">
                        <div class="col-12 content-column">
                            <div id="content_block_09">
                                <div class="content-box">
                                    <form method="POST" action="" novalidate id="contact-form" class="default-form"> 
                                        {{ form.hidden_tag() }}
                                        <div class="form-group">
                                            <label><i class="fa fa-lock" style="display: inline;"></i>{{ form.password.label(style="display:inline;") }}</label>
                                            {% if form.password.errors %}
                                                {{ form.password(class="input-style is-invalid") }}
                                                <div class="invalid-feedback">
                                                    {% for error in form.password.errors %}
                                                        <span>{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                            {% else %}
                                                {{ form.password(class="input-style") }}
                                            {% endif %}
                                        </div>
                                        <div class="form-group">
                                            <label><i class="fa fa-lock" style="display: inline;"></i>{{ form.confirm_password.label(style="display:inline;") }}</label>
                                            {% if form.confirm_password.errors %}
                                                {{ form.confirm_password(class="input-style is-invalid") }}
                                                <div class="invalid-feedback">
                                                    {% for error in form.confirm_password.errors %}
                                                        <span>{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                            {% else %}
                                                {{ form.confirm_password(class="input-style") }}
                                            {% endif %}
                                        </div>
                                        <div class="form-group mt-15">
                                            {{ form.submit(class="theme-btn style-six") }}
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        <!-- contact-section end -->
{% endblock content %}