{% extends "admin/starter.html" %}
{% block main %}
<h4>Kitablar</h4>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped mb-0">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Adı</th>
                                                    <th>Detalları</th>
                                                    <th>URL</th>
                                                    <th>Kateqoriya</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for book in books %}
                                                    <tr>
                                                        <td>{{ book.id }}</td>
                                                        <td>{{ book.name }}</td>
                                                        <td>{{ book.description }}</td>
                                                        <td>{{ book.url }}</td>
                                                        <td>{{ book.category.name }}</td>
                                                        <td>
                                                            <a href="{{url_for('edit_book', id = book.id)}}" class="mr-2"><i class="fas fa-edit text-info font-16"></i></a>
                                                            <a href="{{url_for('delete_book', id = book.id)}}"><i class="fas fa-trash-alt text-danger font-16"></i></a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
<a class="btn btn-primary" href="{{ url_for('bookAddForm') }}">Yeni Kitab Əlavə Et</a>

<h4>Kitab Kateqoriyaları</h4>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped mb-0">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Ad</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for category in categories %}
                                                    <tr>
                                                        <td>{{ category.id }}</td>
                                                        <td>{{ category.name }}</td>
                                                        <td>
                                                            <a href="{{url_for('edit_cat', id = category.id)}}" class="mr-2"><i class="fas fa-edit text-info font-16"></i></a>
                                                            <a href="{{url_for('delete_cat', id = category.id)}}"><i class="fas fa-trash-alt text-danger font-16"></i></a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
<a class="btn btn-primary" href="{{ url_for('addCategory') }}">Yeni Kateqoriya Əlavə Et</a>
{% endblock %}