<!DOCTYPE html>
<html lang="az">

    <head>
        <meta charset="utf-8" />
        <title>Mathology - Admin Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta content="Mathology Admin & Dashboard" name="description" />
        <meta content="" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App favicon -->
        <link rel="icon" href="{{ url_for('static', filename='main-img/icon.png') }}" type="image/x-icon">

        <!-- App css -->
        <link href="{{ url_for('static', filename='admin/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ url_for('static', filename='admin/css/jquery-ui.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='admin/css/icons.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ url_for('static', filename='admin/css/metisMenu.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ url_for('static', filename='admin/css/app.min.css') }}" rel="stylesheet" type="text/css" />

        <link href="{{ url_for('static', filename='admin/css/jquery-ui.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='admin/css/icons.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ url_for('static', filename='admin/css/metisMenu.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ url_for('static', filename='admin/css/app-material.min.css') }}" rel="stylesheet" type="text/css" />
    
        {% block style %}{% endblock %}
    </head>

    <body>
        <!-- leftbar-tab-menu -->
        <div class="leftbar-tab-menu">
            <div class="main-icon-menu">
                <a href="../crm/crm-index.html" class="logo logo-metrica d-block text-center">
                    <span>
                        <img src="{{ url_for('static', filename='main-img/icon.png') }}" alt="logo-small" class="logo-sm">
                    </span>
                </a>
                <nav class="nav">

                    <a href="#MetricaUsers" class="nav-link" data-toggle="tooltip-custom" data-placement="right"  data-trigger="hover" title="" data-original-title="İstifadəçilər">
                        <i data-feather="users" class="align-self-center menu-icon icon-dual"></i>
                    </a><!--end MetricaUsers-->

                    <a href="#MetricaPages" class="nav-link" data-toggle="tooltip-custom" data-placement="right"  data-trigger="hover" title="" data-original-title="Səhifələr">
                        <i data-feather="copy" class="align-self-center menu-icon icon-dual"></i>
                    </a><!--end MetricaPages-->

                    <a href="#MetricaAuthentication" class="nav-link" data-toggle="tooltip-custom" data-placement="right"  data-trigger="hover" title="" data-original-title="Authentication">
                        <i data-feather="lock" class="align-self-center menu-icon icon-dual"></i>
                    </a> <!--end MetricaAuthentication-->

                </nav><!--end nav-->
                <div class="pro-metrica-end">
                    <a href="" class="profile">
                        <img src="{{ url_for('static', filename='main-img/me.jpg') }}" alt="profile-user" class="rounded-circle thumb-sm">
                    </a>
                </div>
            </div><!--end main-icon-menu-->

            <div class="main-menu-inner">
                <!-- LOGO -->
                <div class="topbar-left">
                    <a href="../crm/crm-index.html" class="logo">
                        <span>
                            <img src="{{ url_for('static', filename='main-img/logo.png') }}" alt="logo-large" class="logo-lg logo-dark">
                        </span>
                    </a>
                </div>
                <!--end logo-->
                <div class="menu-body slimscroll">
                    
                    <div id="MetricaUsers" class="main-icon-menu-pane">
                        <div class="title-box">
                            <h6 class="menu-title">İstifadəçilər</h6>
                        </div>
                        <ul class="nav">
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('students') }}">Tələbələr</a></li>
                        </ul>
                    </div><!-- end Users -->

                    <div id="MetricaPages" class="main-icon-menu-pane">
                        <div class="title-box">
                            <h6 class="menu-title">Səhifələr</h6>
                        </div>
                        <ul class="nav">
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('addBookForm') }}">Kitab Əlavə Et</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('adviceForm') }}">Məsləhət Bloqu</a></li>
                        </ul>
                    </div><!-- end Pages -->
                    <div id="MetricaAuthentication" class="main-icon-menu-pane">
                        <div class="title-box">
                            <h6 class="menu-title">Authentication</h6>
                        </div>
                        <ul class="nav">
                            <li class="nav-item"><a class="nav-link" href="../authentication/auth-login.html">Daxil Ol</a></li>
                            <li class="nav-item"><a class="nav-link" href="../authentication/auth-register.html">Qeydiyyat</a></li>
                            <li class="nav-item"><a class="nav-link" href="../authentication/auth-recover-pw.html">Şifrə bərpası</a></li>
                            <li class="nav-item"><a class="nav-link" href="../authentication/auth-404.html">Error 404</a></li>
                            <li class="nav-item"><a class="nav-link" href="../authentication/auth-500.html">Error 500</a></li>
                        </ul>
                    </div><!-- end Authentication-->
                </div><!--end menu-body-->
            </div><!-- end main-menu-inner-->
        </div>
        <!-- end leftbar-tab-menu-->

        <!-- Top Bar Start -->
        <div class="topbar">
            <!-- Navbar -->
            <nav class="navbar-custom">
                <ul class="list-unstyled topbar-nav float-right mb-0">
                    <li class="dropdown">
                        <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="false" aria-expanded="false">
                            <img src="{{ url_for('static', filename='main-img/me.jpg') }}" alt="profile-user" class="rounded-circle" />
                            <span class="ml-1 nav-user-name hidden-sm">SevilAdmin <i class="mdi mdi-chevron-down"></i> </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#"><i data-feather="user" class="align-self-center menu-icon icon-dual" style="display: inline;"></i> <h4 style="display: inline;">Profile</h4></a>
                            <a class="dropdown-item" href="#"><i data-feather="settings" class="align-self-center menu-icon icon-dual" style="display: inline;"></i> <h4 style="display: inline;">Settings</h4></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#"><i data-feather="log-out" class="align-self-center menu-icon icon-dual" style="display: inline;"></i> <h4 style="display: inline;">Logout</h4></a>
                        </div>
                    </li>
                </ul><!--end topbar-nav-->

                <ul class="list-unstyled topbar-nav mb-0">
                    <li>
                        <a href="../crm/crm-index.html">
                            <span class="responsive-logo">
                                <img src="{{ url_for('static', filename='main-img/me.jpg') }}" alt="logo-small" class="logo-sm align-self-center" height="34">
                            </span>
                        </a>
                    </li>
                    <li>
                        <button class="button-menu-mobile nav-link">
                            <i data-feather="menu" class="align-self-center"></i>
                        </button>
                    </li>
                    <li class="hide-phone app-search">
                        <form role="search" class="">
                            <input type="text" id="AllCompo" placeholder="Search..." class="form-control">
                            <a href=""><i class="fas fa-search"></i></a>
                        </form>
                    </li>
                </ul>
            </nav>
            <!-- end navbar-->
        </div>
        <!-- Top Bar End -->

        <div class="page-wrapper">

            <!-- Page Content-->
            <div class="page-content-tab">

                <div class="container-fluid">
                    <!-- Page-Title -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                {% block main %}{% endblock %}
                            </div><!--end page-title-box-->
                        </div><!--end col-->
                    </div>
                    <!-- end page title end breadcrumb -->
                </div><!-- container -->
                <footer class="footer text-center text-sm-left">
                    &copy; 2020 Mathology <span class="text-muted d-none d-sm-inline-block float-right">
                </footer><!--end footer-->
            </div>
            <!-- end page content -->
        </div>
        <!-- end page-wrapper -->




        <!-- jQuery  -->
        <script src="../static/admin/js/jquery.min.js"></script>
        <script src="../static/admin/js/jquery-ui.min.js"></script>
        <script src="../static/admin/js/bootstrap.bundle.min.js"></script>
        <script src="../static/admin/js/metismenu.min.js"></script>
        <script src="../static/admin/js/waves.js"></script>
        <script src="../static/admin/js/feather.min.js"></script>
        <script src="../static/admin/js/jquery.slimscroll.min.js"></script>
        <script src="../plugins/apexcharts/apexcharts.min.js"></script>

        <!-- App js -->
        <script src="../static/admin/js/app.js"></script>
        {% block script %}{% endblock %}

    </body>

</html>